@use '../base/variables' as v;
@use '../base/mixins' as m;

.container__background{
    background-color: v.$background;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -10;
    .light--one{
        position: absolute;
        z-index: -8;
        top: 71px;
        left: 0;
    }
    .light--two{
        position: absolute;
        z-index: -8;
        top: 202px;
        right: 0;
    }
    .light--three{
        position: absolute;
        z-index: -8;
        left: 0;
        top: 2790px;
    }
    .light--four{
        position: absolute;
        z-index: -8;
        right: 0;
        top: 2890px;
    }

    .line-one, .line-two, .line-three{
        position: absolute;
        z-index: -9;
        width: 1px;
        height:3800px;
        background-color: rgba(163, 163, 163, 0.10);
        @media (max-width:1100px){
            height: 4000px;
        }
        @media (max-width:980px){
            height: 3400px;
        }
        @media (max-width:800px){
            height: 3800px;
        }
        // @media (max-width:650px){
        //     height: 3800px;
        // }
    }
    .line-one{
        left: 27%;
        @include m.tablet {
            left: 16.33%;
        }
        @include m.mobile {
            left: 4.55%;
        }
    }
    .line-two{
        left: 50%;
    }
    .line-three{
        left: 73%;
        @include m.tablet {
            left: 83.67%;
        }
        @include m.mobile {
            left: 95.45%;
        }
    }

    .zigzag{
        position: absolute;
        top: 1560px;
        left: 0.5px;
        @include m.tablet {
            top: 1200px;
        }
    }

}