@use '../base/variables' as v;
@use '../base/mixins' as m;

.container__background{
    &.blur{
        backdrop-filter: blur(5px);
        opacity: 0.25;
    }
    background-color: v.$background;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -10;
    .light--one{
        position: absolute;
        z-index: -8;
        top: 71px;
        left: 0;
        @include m.mobile {
            top: 210px;
            left: 0;
            width: 496px;
            height: 500px;
        }
    }
    .light--two{
        position: absolute;
        z-index: -8;
        top: 202px;
        right: 0;
        @include m.mobile {
            top: 435px;
            right: 0;
            width: 350px;
            height: 463px;
        }
    }
    .light--three{
        position: absolute;
        z-index: -8;
        left: 0;
        top: 2790px;
    }
    .light--four{
        position: absolute;
        z-index: -8;
        right: 0;
        top: 2890px;
    }

    .line-one, .line-two, .line-three{
        position: absolute;
        z-index: -20;
        width: 1px;
        height:3500px;
        background-color: rgba(163, 163, 163, 0.10);


        @media (max-width:13200px){
            height: 3600px;
        }
        @media (max-width:1185px){
            height: 3700px;
        }
        @media (max-width:1075px){
            height: 3800px;
        }

        @media (max-width:985px){
            height: 3500px;
        }
        @media (max-width:815px){
            height: 3700px;
        }
        @media (max-width:790px){
            height: 3800px;
        }
        @include m.mobile {
            height: 3500px;
        }
        @media (max-width:405px){
            height: 3600px;
        }
        @media (max-width:390px){
            height: 3800px;
        }
        @media (max-width:320px){
            height: 4000px;
        }

    }
    .line-one{
        left: 27%;
        @include m.tablet {
            left: 16.33%;
        }
        @include m.mobile {
            left: 4.55%;
        }
    }
    .line-two{
        left: 50%;
    }
    .line-three{
        left: 73%;
        @include m.tablet {
            left: 83.67%;
        }
        @include m.mobile {
            left: 95.45%;
        }
    }

    .zigzag{
        position: absolute;
        top: 1145px;
        width: 100%;
        height: 481px;
        // left: 0.5px;
        @include m.tablet {
            top: 1200px;
        }
    }

}

.container__background--form{
    
    background-color: v.$background;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -10;
    &.blur{
        backdrop-filter: blur(5px);
        opacity: 0.25;
    }
    .light--one{
        position: absolute;
        z-index: -8;
        top: 71px;
        left: 0;
        @include m.mobile {
            top: 210px;
            left: 0;
            width: 496px;
            height: 500px;
        }
    }
    .light--two{
        position: absolute;
        z-index: -8;
        top: 202px;
        right: 0;
        @include m.mobile {
            top: 435px;
            right: 0;
            width: 350px;
            height: 463px;
        }
    }

    .line-one, .line-two, .line-three{
        position: absolute;
        z-index: -20;
        width: 1px;
        height:1120px;
        background-color: rgba(163, 163, 163, 0.10);


    }
    .line-one{
        left: 27%;
        @include m.tablet {
            left: 16.33%;
        }
        @include m.mobile {
            left: 4.55%;
        }
    }
    .line-two{
        left: 50%;
    }
    .line-three{
        left: 73%;
        @include m.tablet {
            left: 83.67%;
        }
        @include m.mobile {
            left: 95.45%;
        }
    }
}

.container__background--terms{
    background-color: v.$background;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -10;
    &.blur{
        backdrop-filter: blur(5px);
        opacity: 0.25;
    }
    .line-one{
        left: 27%;
        @include m.tablet {
            left: 16.33%;
        }
        @include m.mobile {
            left: 4.55%;
        }
    }
    .line-two{
        left: 50%;
    }
    .line-three{
        left: 73%;
        @include m.tablet {
            left: 83.67%;
        }
        @include m.mobile {
            left: 95.45%;
        }
    }
    .zigzag{
        position: absolute;
        top: 920px;
        left: 0.5px;
        @include m.tablet {
            top: 900px;
        }
    }
    .line-one, .line-two, .line-three{
        position: absolute;
        z-index: -20;
        width: 1px;
        height:2300px;
        background-color: rgba(163, 163, 163, 0.10);

        @media (max-width:1050px){
            height: 2400px;
        }
        @media (max-width:915px){
            height: 2600px;
        }
        @media (max-width:690px){
            height: 2800px;
        }
        @media (max-width:615px){
            height: 3000px;
        }
        @media (max-width:545px){
            height: 3200px;
        }
        @media (max-width:480px){
            height: 3400px;
        }
        @media (max-width:430px){
            height: 3600px;
        }
        @media (max-width:400px){
            height: 3800px;
        }
        @media (max-width:375px){
            height: 4000px;
        }
        @media (max-width:355px){
            height: 4200px;
        }
        @media (max-width:330px){
            height: 4400px;
        }
        @media (max-width:320px){
            height: 4600px;
        }
        @media (max-width:300px){
            height: 4800px;
        }
        @media (max-width:280px){
            height: 5000px;
        }
        @media (max-width:270px){
            height: 5200px;
        }
    }
}

.bg--privpolicy{
    .line-one, .line-two, .line-three{
        height:2800px;
        background-color: rgba(163, 163, 163, 0.10);

        
    }
}
.container__background--priv{
    background-color: v.$background;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -10;
    &.blur{
        backdrop-filter: blur(5px);
        opacity: 0.25;
    }
    .line-one{
        left: 27%;
        @include m.tablet {
            left: 16.33%;
        }
        @include m.mobile {
            left: 4.55%;
        }
    }
    .line-two{
        left: 50%;
    }
    .line-three{
        left: 73%;
        @include m.tablet {
            left: 83.67%;
        }
        @include m.mobile {
            left: 95.45%;
        }
    }
    .zigzag{
        position: absolute;
        top: 920px;
        left: 0.5px;
        @include m.tablet {
            top: 900px;
        }
    }
    .line-one, .line-two, .line-three{
        position: absolute;
        z-index: -20;
        width: 1px;
        height:2800px;
        background-color: rgba(163, 163, 163, 0.10);

        @media (max-width:650px){
            height: 3000px;
        }
        @media (max-width:500px){
            height: 3200px;
        }
        @media (max-width:450px){
            height: 3400px;
        }
        @media (max-width:380px){
            height: 3600px;
        }
        @media (max-width:350px){
            height: 3800px;
        }
        @media (max-width:315px){
            height: 4000px;
        }
        @media (max-width:290px){
            height: 4200px;
        }
        
    }
}
