@use '../base/variables' as v;
@use '../base/mixins' as m;

.container__BlogSpotsSlider{
    width: 100%;
    max-width: 1320px;
    padding: 80px 1rem 0;
    margin: 0 auto 75px;
    h2{
      text-align: start;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 50px;
    }
}
 .swiper{
  padding-bottom: 60px !important;
  @media(max-width: 985px){
    height: 375px !important;
  }
  @media(max-width: 805px){
    height: 400px !important;
  }
  @include m.mobile {
    display: none;
  }
 }
.blogs--columns{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container--blog{
  display: flex;
  gap: 20px;
  @media (max-width:985px){
    height: 130px;
}


  .container--blog__img{
    display: flex;
    flex:50;
    // height: 188px;
    // width: 310px;
    position: relative;
    overflow: hidden;
    @media(max-width:780px){
      flex: 40;
    }
    &:hover{
      .blog-img{
        filter: grayscale(0);
        transform: scale(1.15);
        transition: 0.8s ease-in-out;
      }
      &::after{
        content: "";
        width: 0%;
        height: 0%;
      }
    }
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: linear-gradient(156deg, #5bd8ff1a 15.52%, #00ff851a 100%);
    }
  }
  .blog-img{
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  h2{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    width: fit-content;
    margin: 0;
    background: linear-gradient(90deg, #5BD8FF 0%, #69FFB7 100%);
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p{
    color: #ADADAD;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
  }
}

.blog-content{
  display: flex;
  flex-direction: column;
  padding-top: 21px;
  gap: 6px;
  flex:50;
  @include m.tablet {
    padding-top: 11px;
  }
  @media(max-width:780px){
    flex: 60;
  }
}

.swiper-button-next, .swiper-button-prev{
  color: v.$blanco;
  top: 95%;
  &:hover{
    color: v.$celeste;
  }
}

.swiper-button-next{
  right: 42%;
  @include m.tablet {
    right: 40%;
  }
}
.swiper-button-prev{
  left: 42%;
  @include m.tablet {
    left: 40%;
  }
}

.swiper-wrapper{
  @include m.tablet {
    height: 282px !important;
  }
}

.mySwiperMobile{
  display: none;
  @include m.mobile {
    display: block;
    max-width: 440px;
    min-height: 480px;
    .container--blog{
      display: flex;
      flex-direction: column;
    }
    .container--blog__img{
      flex: 1;
      min-height: 250px;
      max-width: 440px;
    }
    .blog-content{
      flex: 1;
      h2{
        font-size: 32px;
      }
      p{
        font-size: 24px;
      }
    }
    .swiper-pagination-bullet-active{
      background-color: v.$blanco;
    }
    .swiper-pagination-bullet{
      background-color: rgb(217,217,217);
    }
  }
}
  

  