@use '../base/variables' as v;

.container__BlogSpotsSlider{
    width: 100%;
    max-width: 1320px;
    padding: 80px 1rem 0;
    margin: 0 auto 75px;
    h2{
      text-align: start;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 50px;
    }
}
 .swiper{
  padding-bottom: 60px !important;
 }
.blogs--columns{
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.container--blog{
  display: flex;
  width: 624px;
  gap: 20px;


  .container--blog__img{
    display: flex;
    height: 188px;
    min-width: 310px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    &:hover{
      .blog-img{
        filter: grayscale(0);
        transform: scale(1.15);
        transition: 0.8s ease-in-out;
      }
      &::after{
        content: "";
        width: 0%;
        height: 0%;
      }
    }
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: linear-gradient(156deg, #5bd8ff1a 15.52%, #00ff851a 100%);
    }
  }
  .blog-img{
    filter: grayscale(1);
    width: 100%;
    height: 100%;
  }


  h2{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    width: fit-content;
    margin: 0;
    background: linear-gradient(90deg, #5BD8FF 0%, #69FFB7 100%);
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p{
    color: #ADADAD;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
  }
}

.blog-content{
  display: flex;
  flex-direction: column;
  padding-top: 21px;
  gap: 6px;
}

.swiper-button-next, .swiper-button-prev{
  color: v.$blanco;
  top: 95%;
  &:hover{
    color: v.$celeste;
  }
}

.swiper-button-next{
  right: 45%;
}
.swiper-button-prev{
  left: 45%;
}
  

  