@use '../base/variables' as v;
@use '../base/mixins' as m;

.container__formpage{
    width: 100%;
    &.blur{
        backdrop-filter: blur(5px);
        opacity: 0.25;
    }
}

.container__form{

    display: flex;
    width: 100%;
    padding: 135px 1rem 130px;
    margin: 0 auto;
    gap: 20px;
    max-width: 1300px;
    @include m.tablet {
        max-width: 840px;
    }
    @include m.mobile {
        flex-direction: column;
        max-width: 440px;
        gap: 50px;
        padding-bottom: 47px;
    }
}
.column__invitation{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    h2{
        color: v.$blanco;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    h4{
        color: v.$placeholder;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;text-align: start;
    }
}
.form__logos--social{
    display: flex;
    gap: 20px;
}
.column__form{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 560px;
    h3{
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: none;
    }
}
.form--box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.form__name--lastname{
    display: flex;
    width: 100%;
    gap: 20px;
}
.form--input{
    width: 100%;
    input{
        width: 100%;
        border: 1px solid #5BD8FF;
        background-color: transparent;
        padding: 13px 10px;
        
        color: v.$blanco;
        font-family: v.$font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.form--textarea{
    width: 100%;
    textarea{
        width: 100%;
        min-height: 228px;
        border: 1px solid #5BD8FF;
        background-color: transparent;
        padding: 13px 10px;

        color: v.$blanco;
        font-family: v.$font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.btn__form--submit{
    width: 205.816px;
    height: 41.253px;
    border: 1px solid #5BD8FF;
    background-color: transparent;
    align-self: center;

    color: v.$blanco;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}