@use '../base/variables' as v;
@use '../base/mixins' as m;

.container__header{
    max-width: 1000px;
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    @include m.tablet {
        max-width: 900px;
        margin-bottom: 112px;
    }
}

.header-title{
    display: flex;
    align-items: end;
    h2{
        color: v.$blanco;
        font-size: 96px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        text-align: center;
        @include m.tablet {
            font-size: 90px;
        }
        span{
            text-decoration-line: underline;
            text-decoration-color:#5BD8FF;
            color: v.$celeste;
            // background: linear-gradient(8deg, #5BD8FF 56%, #69FFB7 89.04%);
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
        }
    }
}
h4{
    color: #ADADAD;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.header--btn{
        width: 205.816px;
        height: 41.253px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        --b: 2px;   /* thickness of the border */
        --c: #5BD8FF;   /* color of the border */
        --w: 11px;  /* width of border */
        
        
        border: var(--b) solid #0000; /* space for the border */
        --_g: #0000 90deg,var(--c) 0;
        --_p: var(--w) var(--w) border-box no-repeat;
        background:
          conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
          conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
          conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
          conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
        
        &:hover{
        cursor: pointer;
        border: 2px solid #5BD8FF;
        background: rgba(91, 216, 255, 0.20);
        transition: 0.5s;
        }
}
        
    
    h3{
        color: v.$blanco;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        padding-top: 6px;
    }