@use '../base/variables' as v;

.container__header{
    height: 508px;
    max-width: 1320px;
    width: 100%;
    padding: 0 1rem;
    margin: 34px auto;
    display: flex;
    justify-content: space-between;
    border: 2px dashed v.$gris;
}

.header__text{
    width: 683px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    .header-title{
        min-height: 269px;
        display: flex;
        align-items: end;    }
    h2{
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    h4{
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    .header--btn{
        display: flex;
        align-items: center;
        gap: 12px;
        h3{
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }
    }
}

.header__img{
    width: 420px;
    height: 504px;
    background-color: v.$gris;
}