@use '../base/variables' as v;

.container__background{
    background-color: v.$background;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -10;
    // overflow: hidden;
    .light--one{
        position: absolute;
        top: 1.5%;
        left: 0;
    }
    .light--two{
        position: absolute;
        top: 10%;
        right: 0;
        margin-top: 150px;
    }

}
.container__home{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 189px auto 0;
}

.container__hero{
    width: 100%;
    min-height: 475.719px;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    img{
        width: 100%;
        object-fit: cover;
    }
}

.container__aboutus{
    width: 100%;
    max-width: 1320px;
    padding: 0 1rem;
    margin: 0 auto 230px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    grid-template-areas: "b1 b2 tex tex"
                         "b3 b4 b5 b6";
    .box{
        width: 310px;
        height: 310px;
        position: relative;
        background: linear-gradient(180deg, #0000001a 0%, #000000cc 52.55%);
        .img-card{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            backdrop-filter: blur(0.5px);
        }
        .box--text{
            display: flex;
            flex-direction: column;
            margin-top: 73px;
            padding-left: 33.75px;
            h3{
                text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.09);
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                width: 221px;
            }
            p{
                color: #ADADAD;
                text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.09);
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 244.502px;
            }
        }
    }
    .box1{
        grid-area: b1;
    }
    .box2{
        grid-area: b2;
    }
    .box3{
        grid-area: b3;
    }
    .box4{
        grid-area: b4;
    }
    .box5{
        grid-area: b5;
    }
    .box6{
        grid-area: b6;
    }
    .text{
        grid-area: tex;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        gap: 20px;
    }
    h2{
        text-align: start;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    h3{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        width: 530px;
    }
}