@use '../base/variables' as v;
@use '../base/mixins' as m;

.container__home{
    // position: absolute;
    // z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 189px;
    @include m.tablet {
        padding-top: 179px;
    }
}

.container__hero{
    width: 100%;
    min-height: 475.719px;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    @include m.tablet {
        max-height: 250px;
        min-height: 0;
    }
    img{
        width: 100%;
        object-fit: cover;
    }
}

.container__aboutus{
    width: 100%;
    max-width: 1320px;
    padding: 90px 1rem 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    grid-template-areas: "b1 b2 text text"
                         "b3 b4 b5 b6";
    @include m.tablet {
        max-width: 980px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "text text text"
                             "b1 b2 b3"
                             "b4 b5 b6";
    }
    .box{
        width: 310px;
        height: 310px;
        position: relative;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.40) 100%);
        backdrop-filter: blur(0.5px);
        display: flex;
        @include m.tablet {
            width: 260px;
            height: 260px;
        }
        .img-card{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            // backdrop-filter: blur(0.5px);
            // width: 275px;
            // height: 188px;
            transform: rotate(-29.489deg);
            fill: linear-gradient(166deg, rgba(105, 255, 183, 0.20) 46.33%, rgba(91, 216, 255, 0.20) 72.29%);
            filter: blur(39.400001525878906px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .box--text{display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            width: 100%;
            align-items: center;
            h3{
                text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.09);
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                width: 100%;
                text-align: center;
                @include m.tablet {
                    font-size: 30px;
                }
            }
            p{
                color: #ADADAD;
                text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.09);
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 90%;
            }
        }
    }
    .box1{
        grid-area: b1;
    }
    .box2{
        grid-area: b2;
    }
    .box3{
        grid-area: b3;
    }
    .box4{
        grid-area: b4;
    }
    .box5{
        grid-area: b5;
    }
    .box6{
        grid-area: b6;
    }
    .text{
        grid-area: text;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        gap: 20px;
    }
    h2{
        text-align: start;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    h3{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        width: 530px;
    }
}