@use '../base/variables' as v;
@use '../base/mixins' as m;

.container__home{
    // position: absolute;
    // z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 189px;
    @include m.tablet {
        padding-top: 179px;
    }
}

.container__hero{
    width: 100%;
    height: 250px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    @include m.tablet {
        max-height: 250px;
        min-height: 0;
    }
    img{
        width: 100%;
        object-fit: cover;
    }
    @include m.mobile {
        height: 193px;
    }
}

