@use '../base/variables' as v;

.container__services{
  width: 100%;
  max-width: 1320px;
  padding: 0 1rem;
  margin: 126px auto 150px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  h2{
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      text-align: end;
  }
}

.accordion{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    border-bottom: 2px v.$blanco solid;
}

.accordionHeading {
    padding: 0;
    margin-left: 0;
    h3 {
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      &:hover {
        cursor: pointer;
      }
    }
    span {
      cursor: pointer;
    }
  }

  .containerTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    gap: 3.5rem;
  }

  .accordionContent {
    height: 0;
    width: 585px;
    opacity: 0;
    display: flex;
    overflow: hidden;
    transition: all 600ms ease-in-out;
    .cont-despl {
        margin-top: 40px;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }
  }
  .containerText{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 12px;
  }

  .show {
    height: fit-content;
    opacity: 1;
  }