@use '../base/variables' as v;

.container__slider{
    width: 100%;
    max-width: 1320px;
    padding: 0 1rem;
    margin: 0 auto 184px;
    h2{
      text-align: left;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 92px;
    }
}
.slider-container {
        width: 100%;
        // position: relative;
        overflow: hidden;
        height: 437px;
        display: flex;
        justify-content: center;
        .card{
          display: none;
          width: 420px;
          height: 435px;
        }
        .active {
          position: absolute;
          width: 100%;
          max-width: 1080px;
          display: flex;
          gap: 20px;
          transition: transform 0.5s ease;
          .card-image{
            position: relative;
            width: 417.51px;
            height: 440px;
              &:after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background: linear-gradient(156deg, rgba(91, 216, 255, 0.10) 15.52%, rgba(0, 255, 133, 0.10) 100%);
                backdrop-filter: blur(0.5px);
              }
              .card-image-hover{
                display: none;
              }
              .card-image-original{
                display: block;
                object-fit: cover;
                &:hover{
                  display: none;
                  .card-image-hover{
                    display: block;
                    object-fit: cover;
                  }
                }
              }
              
              
          }
        }


        .card-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-top: 17px;
          overflow: hidden;
          img{
              width: 58px;
              height: 58px;
              object-fit: contain;

          p{
              font-size: 32px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-transform: uppercase;
          }
          h2{
              font-size: 40px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: uppercase;
              margin: 0;
          }
          h3{
              font-size: 24px;
              font-weight: 400;
              line-height: normal;
              text-transform: uppercase;
          }
        }
        .card-titles-arrows{
          display: flex;
          justify-content: space-between;
        }
        .slider-btn{
          display: flex;
        }
        .prev,
        .next {
          background-color: v.$background;
          border: none;
          color: v.$blanco;
          padding: 10px;
          cursor: pointer;
        }

        .prev {
          left: 0;
        }

        .next {
          right: 0;
        }
}
}
