@use '../base/variables' as v;

.container__slider{
    width: 100%;
    max-width: 1320px;
    padding: 0 1rem;
    margin: 0 auto 184px;
    border: 2px dashed v.$gris;
    h2{
      text-align: left;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 92px;
    }
}
.slider-container {
        width: 100%;
        position: relative;
        overflow: hidden;
        height: 437px;
        display: flex;
        justify-content: center;
        .card{
          display: none;
        }
        .active {
          position: absolute;
          width: 100%;
          max-width: 1080px;
          height: 100%;
          display: flex;
          gap: 20px;
          transition: transform 0.5s ease;
          border: 2px dashed v.$gris;
        }
        .card img {
          width: 420px;
          height: 435px;
          object-fit: cover;
        }
        
        .card-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-top: 17px;
          overflow: hidden;
          img{
              width: 58px;
              height: 58px;
              object-fit: contain;
          }
          p{
              font-size: 32px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: uppercase;
          }
          h2{
              font-size: 40px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: uppercase;
              margin: 0;
          }
          h3{
              font-size: 24px;
              font-weight: 600;
              line-height: normal;
              text-transform: uppercase;
          }
        }
        .card-titles-arrows{
          display: flex;
          justify-content: space-between;
        }
        .slider-btn{
          display: flex;
        }
        .prev,
        .next {
          background-color: v.$background;
          border: none;
          color: v.$blanco;
          padding: 10px;
          cursor: pointer;
        }
        
        .prev {
          left: 0;
        }
        
        .next {
          right: 0;
        }
}  

