@use '../base/variables' as v;
@use '../base/mixins' as m;

.container__survey{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.survey--card{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: fit-content;
    transform: translate(-50%, -50%);
    background-color: #1B1B1B;
    box-shadow: 5px 5px 50px 20px rgba(217, 217, 217, 0.25);
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
    padding: 30px;
    gap: 40px;
    @media (max-width:920px){
        max-height: 720px;
    }
    @media (max-width:650px) {
        padding: 20px;
        max-height: 700px;
    }
    @media (max-width:425px) {
        padding: 20px;
        max-height: 720px;
        gap: 30px;
        width: 90%;   
    }
    
    
    .survey__btn--close{
        background-color: transparent;
        color: v.$negro;
        width: 30px;
        border: none;
        align-self: flex-end;
        &:hover{
            scale: (1.1);
        }
    }
}
.encabezado--survey{
    display: flex;
    flex-direction: column;
    margin: 0 0 40px;
    gap: 18px;
    align-items: flex-start;
    align-self: baseline;
    width: 100%;
    .title{
        font-family: v.$font;
        color: #ADADAD;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        align-self: center;
        
        @include m.mobile {
            font-size: 22px;
        }
    }
    .question{
        font-family: v.$font;
        color: v.$blanco;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        @include m.mobile {
            font-size: 22px;
        }
    }
}
.survey--sup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.survey--content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
    @include m.mobile {
        width: 80%;
    }
    @media (max-width:425px) {
        width: 90%;   
    }
}
.answers--list{
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    align-self: center;
    margin: 0;
    @media (max-width:920px) {
        flex-direction: column;
    }
    @include m.mobile {
        gap: 25px;
    }
    
    li{
        display: flex;
    }
    button{
        background-color: transparent;
        color: v.$blanco;
        height: 46px;
        width: fit-content;
        font-weight: 600;
        border: 2px solid #5BD8FF;
        border-radius: 2.5px;
        width: 100%;

        display: flex;
        padding: 10px;
        align-items: center;
        gap: 10px;

        color: #FFF;
        font-family: Epilogue;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @include m.mobile {
            font-size: 14px;
        }
        &:disabled{
            background-color: #5BD8FF;
            color: v.$negro;
        }

        .checkoption{
            display: inline-block;
            position: relative;
            width: 13px;
            height: 13px;
            background-color: transparent;
            border-radius: 100%;
            border: 2px solid #5BD8FF;
            transition: all 0.5s;
        }

        &:hover{
            color: v.$verde;
        }
        &:disabled{
            .checkoption{
                display: inline-block;
            position: relative;
            width: 13px;
            height: 13px;
            background-color: transparent;
            border-radius: 100%;
            border: 2px solid #5BD8FF;
            transition: all 0.5s;
            &:after{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                background-color: #5BD8FF;
                border: 2px solid black;
                border-radius: 100%;
                width: 100%;
                height: 100%;
                opacity: 1;
                transition: all 0.3s ease;
            }

            }

        }
    }
    label{
        font-family: v.$font;
        font-size: 20px;
        font-weight: 400;
        height: fit-content;
        display: flex;
        gap: 5px;
        @include m.mobile {
            font-size: 16px;
        }
        cursor: pointer;
        input{
            display: none;
            &:checked~span:after{
                    opacity: 1;
            }
        }
        span{
            display: inline-block;
            position: relative;
            min-width: 13px;
            height: 100%;
            min-height: 13px;
            background-color: transparent;
            border-radius: 100%;
            border: 2px solid #5BD8FF;
            transition: all 0.5s;
            &:after{
                content: "";
                position: absolute;
                background-color: #5BD8FF;
                border: 2px solid black;
                border-radius: 100%;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all 0.3s ease;
            }
        }
        &:hover{
            color:v.$blanco;
        }

    }

}

.textarea--card{
    resize: none;
    align-self: center;
    background-color: transparent;
    border: 2px solid #5BD8FF;
    height: 122px;
    margin-top: 20px;
    width: 100%;
    color: #FFF;
    font-family: Epilogue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include m.mobile {
        font-size: 16px;
    }

    ::placeholder{
        color: #ADADAD;
        font-family: Epilogue;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.survey__btn--nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    @include m.mobile {
        svg{
            width: 20px;
        }
    }
}
.survey__btn--anterior, .survey__btn--siguiente{
    width: 177px;
    height: 42px;
    background-color: transparent;
    border: 2px solid #5BD8FF;

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0;


    color: #FFF;
    font-family: Epilogue;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    p{
        margin-top: 4px;
    }
    @include m.mobile {
        width: 120px;
        font-size: 14px;
    }

    &:hover{
        color: rgb(175, 175, 175);
        scale: (1.035);
    }
}