@use '../base/variables' as v;

// .container__survey{
//     display: flex;
//     justify-content: center;
//     }
.survey--card{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: v.$gris;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    min-height: 200px;
    min-width: 500px;
    flex-direction: column;
    justify-content: space-around;
    z-index: 100;
    .survey__btn--close{
        background-color: v.$negro;
        color: v.$blanco;
        width: 30px;
        border: none;
        border-radius: 5px;
        align-self: flex-end;
        margin-bottom: 5px;
    }
    h2{
        padding: 0.5rem 1rem;
    }
}

.answers--list{
    display: flex;
    gap: 1rem;
    padding: 0;
    justify-content: space-evenly;
    li{
        display: flex;
    }
    button{
        background-color: v.$blanco;
        height: 28px;
        font-weight: 600;
        border: none;
        border-radius: 2.5px;
        box-shadow: 2.5px 2.5px 5px 0px rgba(29, 28, 28, 0.25);
    }
    label{
        font-family: v.$font;
        font-size: 16px;
        font-weight: 500;
        padding-left: 1rem;
        &:hover{
            color:v.$blanco;
        }
    }
    .checkboxes{
        appearance: none;
        background-color: v.$blanco;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        &:checked{
            background-color: green;
        }
    }
}
.survey__btn--nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
}
.survey__btn--anterior, .survey__btn--siguiente{
    background-color: v.$negro;
    color: v.$blanco;
    height: 28px;
    font-weight: 600;
    border: none;
    border-radius: 2.5px;
    box-shadow: 2.5px 2.5px 5px 0px rgba(29, 28, 28, 0.25);
}
